@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    margin: auto;
    max-width: 90%;
}

.about, .skills, .projects, .contact {
    margin: 2.5rem auto;
    width: 60%;
}

.skills-list{
    list-style-type: disc;
    padding: 0 1rem;
}

.social-icons a {
    padding: 0 0.5rem;
}