@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    margin: auto;
    max-width: 90%;
}

.about {
    margin: 4rem auto;
    width: 60%;
}

.skills-list{
    list-style-type: disc;
    padding: 0 1rem;
}